html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: arial;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: purple;
  font-size: 4rem;
  text-transform: capitalize;
}

body {
  font-size: 2rem;
  text-transform: capitalize;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.not-found {
  /* width: 30vw; */

  /* transform: translate(-10% ,-45%); */
  /* position: absolute; */
  /* top: 40%; */
  /* max-width: 70vw; */
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #333;
  margin: 0 auto;
  align-items: center;
  position: absolute;
  /* top: 10rem; */
  /* display: grid;
   place-items: center; */
  /*left: 40%; */
  /* display: flex; */
  /* justify-content: center; */
  font-size: 3rem;
}

.not-found p {
  text-align: center;
}


.current-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner {
  /* width: 4rem;
  height: 4rem;
  border-radius: 40%;
  border: .4rem solid red;
  border-top: .4 solid #0d0d0d;
  animation: spin 2s linear infinite; */
  text-align: center;
}


.btn-fetch {
  padding: 1rem;
  background-color: #123;
  border-radius: .5rem;
  color: white;
  text-align: center;
  border: 1px solid #123;
}

.flex {
  text-align: center;
}

.ip-list li {
  padding-top: 1rem;
}

.ip-list > :last-child {
  margin-bottom: 2rem;

}

.ip-address{
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 30rem;

  text-align: center;
  align-items: center;
  background-color: white;
  box-shadow:  -5px 1rem 3rem rgba(0, 0, 0, 0.6);
}


.header-nav{
  text-align: center;
  padding: 1rem;
  margin: 2rem 0rem;
  background-color: #333;
}

.header-nav a{
  color: white;
}

